<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">   <!-- utf-8編碼，中文不會產生亂碼 -->
        <title>醜爆炸網頁--好友表單</title>  <!-- 網頁標題 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 指定螢幕寬度為裝置寬度，畫面載入初始縮放比例100%-->
     </head>
    <body bgcolor="#434343">
      <form method='post' action="#"> 
      <center>
      <input type = "text" name = 'name' placeholder = "請輸入好友名稱" style=" height:20px;" required = "required">
      <button type = "submit" value = "add" name = "add" style="height : 25px">新增</button>
      </br></br>
      <hr size="2dp" align="center" width="92%" color = "#91989F">
      </br>
      </center>
      </form>
      <form method='post' action = "##">
        <center>
          <button type = "submit" value = "back" name = "back" style="width:220px; border-radius:15dp">返回</button>
        </center>
      </form>  
    </body>
</html>
