<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">   <!-- utf-8編碼，中文不會產生亂碼 -->
        <title>醜爆炸網頁</title>  <!-- 網頁標題 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 指定螢幕寬度為裝置寬度，畫面載入初始縮放比例100%-->
     </head>
    <body bgcolor="#434343">
      <form method='post' action="#"> 
      <center>
      </br></br>
      <input type = "text" name = 'account' placeholder = "請輸入臉書帳號" required = "required"></br></br>
      <input type = "text" name = 'password' placeholder = "請輸入臉書密碼" min = "0" ></br></br>
      <button type = "submit" value = "enter" name = "enter">登入</button>
      <hr size="2dp" align="center" width="92%" color = "#91989F"></br>
      <p>{{fail}}</p>
      </center>
      </form>
      </body>
</html>
