<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">   <!-- utf-8編碼，中文不會產生亂碼 -->
        <title>醜爆炸網頁</title>  <!-- 網頁標題 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 指定螢幕寬度為裝置寬度，畫面載入初始縮放比例100%-->
     </head>
    <body bgcolor="#434343">
      <form method='post' action="#"> 
      <center>
      </br></br>
      <input type = "url" name = 'url' placeholder = "請輸入貼文連結" required = "required"></br></br>
      <input type = "number" name = 'number' placeholder = "請輸入留言數量" min = "0" ></br></br>
      <input type = "number" name = 'population' placeholder = "請輸入一則留言標記人數" min = "0"></br></br>
      <input type = "text" name = 'message' placeholder = "請輸入一則留言字串" required = "required"></br></br>
      <button type = "submit" value = "enter" name = "enter">送出</button>
      <hr size="2dp" align="center" width="92%" color = "#91989F"></br>
      </center>
      </form>
      <form method = 'post' action="##">
        <center>
        <button type = "submit" value = "friend" name = "friend" style="width:174px; border-radius:15dp">好友表單</button>
        </center>
      </form>
      </body>
</html>
